#userInput{
    margin: auto;
    text-align: center;
    padding: 3%;
    background-color: aqua;
    width: 40%;
    border-radius: 20px;
    border: 2px solid grey;
}

#contactSearch {
    text-align: center;
    margin: 3%;
}

#contactsTable{
    margin: auto;
}

table {
    margin: auto;
    width: 70%;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: center;
}

#noResult{
    background-color: red;
    color: white;
    width: 100%;
    display: none;
}

#noResult p{
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#inputError{
    background-color: red;
    color: white;
    width: 100%;
    display: none;
    text-align: center;
}

#inputError p{
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

